input{
    margin: 10px 20px 10px 110px;
    width: 300px;
    height: 40px;
    font-size: 1.4rem;
}
/* button{
    width: 100px;
    height: 40px;
    background-color: lightseagreen;
    font-size: 1.4rem;
    color: #fff;
    box-shadow: 4px 4px 4px lightgray;
} */